.Animals {
  border: 2px solid black;
}

.animal-card {
  img {
    height: 150px;
    min-height: 150px;
    max-height: 150px;
  }

  .thumbnail {
    overflow: scroll;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
  }
}

